<template lang="">
  <vue-final-modal class="flex justify-center items-center">
    <div class="flex flex-col max-w-xl mx-4 bg-white border rounded-lg space-y-2 overflow-hidden">
      <div class="w-full bg-gray-300 p-2 font-bold">
        {{ title }}
      </div>
      <div class="p-6 font-bold">{{ content }}</div>
      <div class="flex gap-2 p-2">
        <button @click="$emit('confirm')" class="text-sm font-semibold rounded-md flex-1 p-1 bg-red text-white">
          {{ confirmText }}
        </button>
        <button @click="$emit('cancel')" class="text-sm font-semibold rounded-md flex-1 p-1 border-2">
          {{ cancelText }}
        </button>
      </div>
    </div>
  </vue-final-modal>
</template>
<script>
import { VueFinalModal } from 'vue-final-modal'

export default {
  props: {
    title: String,
    content: String,
    confirmText: {
      type: String,
      default: 'Confirm',
    },
    cancelText: {
      type: String,
      default: 'Cancel',
    },
  },
  components: {
    VueFinalModal,
  },
  emits: ['confirm', 'cancel'],
}
</script>
<style lang=""></style>
