<template lang="">
  <vue-final-modal class="flex justify-center items-center">
    <div class="flex flex-col max-w-xl mx-4 bg-white border rounded-lg space-y-2 overflow-hidden">
      <div class="w-full bg-gray-300 p-2 font-bold">
        {{ title }}
      </div>
      <slot />
    </div>
  </vue-final-modal>
</template>
<script>
import { VueFinalModal } from 'vue-final-modal'

export default {
  props: {
    title: String,
  },
  components: {
    VueFinalModal,
  },
}
</script>
<style lang=""></style>
