@import './base.css';

/* Tooltip container */
.tooltip {
  @apply relative; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  @apply hidden text-center py-2 px-4;

  /* Position the tooltip text - see examples below! */
  @apply absolute bottom-full left-0;

  /* Use half of the width (32/2 = 16), to center the tooltip */
  @apply -ml-2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  @apply block;
}

/* .tooltip .tooltiptext::after {
  @apply absolute bottom-full left-1/2 -translate-x-1/2 border-4 border-solid border-black border-transparent top-full -ml-5;
  content: ' ';
} */
