<template lang="">
  <header class="">
    <router-link to="/">
      <logo></logo>
    </router-link>
  </header>
  <div>
    <router-view></router-view>
  </div>
</template>
<script>
import ToastWrapper from '@/components/ToastWrapper.vue'
import Logo from '@/components/icons/Logo.vue'

export default {
  components: {
    ToastWrapper,
    Logo,
  },
}
</script>
<style scoped></style>
