<template lang="">
  <div class="w-screen h-screen flex">
    <div class="w-48 h-screen">
      <sidebar></sidebar>
    </div>
    <div class="flex-1">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import Sidebar from '@/components/Sidebar/Sidebar.vue'

export default {
  components: {
    Sidebar,
  },
}
</script>
<style lang=""></style>
