<template lang="">
  <div>test</div>
  <button class="border p-6 border-red-300" @click="onButton1Click">1</button>
  <button class="border p-6 border-red-300" @click="onButton2Click">2</button>
</template>
<script>
import { notify } from 'notiwind'
export default {
  methods: {
    onButton1Click() {
      notify(
        {
          group: 'app',
          title: 'Success',
          text: 'test Success!',
        },
        4000
      )
      notify(
        {
          group: 'app',
          type: 'success',
          title: 'Success',
          text: 'test Success!',
        },
        4000
      )
      notify(
        {
          group: 'app',
          type: 'warning',
          title: 'Success',
          text: 'test Success!',
        },
        4000
      )
      notify(
        {
          group: 'app',
          type: 'error',
          title: 'Success',
          text: 'test Success!',
        },
        4000
      )
    },
    onButton2Click() {
      notify(
        {
          group: 'app',
          type: 'error',
          title: 'Success',
          text: 'test Success!',
        },
        4000
      )
    },
  },
}
</script>
<style lang=""></style>
