<template>
  <NotificationGroup group="app">
    <div class="fixed inset-0 flex items-end justify-end p-6 px-4 py-6 pointer-events-none">
      <div class="w-full max-w-sm">
        <Notification
          v-slot="{ notifications, close }"
          enter="ease-out duration-300 transition"
          enter-from="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-4"
          enter-to="translate-y-0 opacity-100 sm:translate-x-0"
          leave="transition ease-in duration-500"
          leave-from="opacity-100"
          leave-to="opacity-0"
          move="transition duration-500"
          move-delay="delay-300"
        >
          <div
            class="border w-full max-w-sm mt-4 overflow-hidden bg-white rounded-lg shadow-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
            :class="{
              'border-green-400 bg-green-50': notification.type === 'success',
              'border-red-400 bg-red-50': notification.type === 'error',
              'border-yellow-400 bg-yellow-50': notification.type === 'warning',
            }"
            v-for="notification in notifications"
            :key="notification.id"
          >
            <div class="p-4">
              <div class="flex items-start">
                <div class="shrink-0">
                  <!-- <svg
                    class="w-6 h-6 text-green-400"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg> -->
                  <span
                    v-if="notification.type === 'success'"
                    class="text-green-500 w-6 aspect-square flex justify-center items-center text-2xl"
                    ><i class="fa-regular fa-check"></i>
                  </span>
                  <span
                    v-if="notification.type === 'error'"
                    class="text-red w-6 aspect-square flex justify-center items-center text-2xl"
                  >
                    <i class="fa-regular fa-xmark"></i>
                  </span>
                  <span
                    v-if="notification.type === 'warning'"
                    class="text-yellow-500 w-6 aspect-square flex justify-center items-center text-2xl"
                    ><i class="fa-regular fa-triangle-exclamation"></i>
                  </span>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                  <p class="font-semibold text-gray-800">{{ notification.title }}</p>
                  <p class="text-sm font-semibold text-gray-500">{{ notification.text }}</p>
                </div>
                <div class="flex ml-4 shrink-0">
                  <button
                    @click="close(notification.id)"
                    class="inline-flex text-gray-400  rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
                  >
                    <span class="sr-only">Close</span>

                    <span class="w-6 aspect-square flex justify-center items-center text-base">
                      <i class="fa-regular fa-xmark"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </Notification>
      </div>
    </div>
  </NotificationGroup>
</template>
