<template lang="">
  <div class="flex flex-col h-full bg-gray-100 fixed top-0 w-48">
    <div>
      <router-link to="/"><logo></logo> </router-link>
    </div>
    <div class="flex-1">
      <sidebar-item name="Items" icon="fa-light fa-box" to="/items"></sidebar-item>
      <sidebar-item name="Orders" icon="fa-light fa-clipboard-list-check" to="/orders"></sidebar-item>
      <sidebar-item name="Users" icon="fa-light fa-user" to="/users"></sidebar-item>
    </div>
    <div>
      <user-info></user-info>
    </div>
  </div>
</template>
<script>
import SidebarItem from '@/components/Sidebar/SidebarItem.vue'
import UserInfo from '@/components/Sidebar/UserInfo.vue'
import Logo from '@/components/icons/Logo.vue'

export default {
  components: {
    SidebarItem,
    UserInfo,
    Logo,
  },
  data() {
    return {}
  },
}
</script>
<style lang=""></style>
