<template lang="">
  <router-link :to="to" v-slot="{ isActive, isExactActive }">
    <div class="p-2">
      <div
        class="rounded-md flex justify-start items-center"
        :class="{
          'bg-gray-400 text-white': isActive,
        }"
      >
        <span class="w-12 h-12 p-1 flex justify-center items-center text-2xl">
          <i :class="icon"></i>
        </span>
        <div class="">
          {{ name }}
        </div>
      </div>
    </div>
  </router-link>
</template>
<script>
export default {
  props: {
    name: String,
    icon: String,
    to: String,
  },
}
</script>
<style lang=""></style>
