<template lang="">
  <div class="tooltip w-full">
    <div class="flex gap-2 justify-start items-center py-2">
      <div class="w-12 aspect-square p-1">
        <img :src="images.avatarPlaceholder" alt="" />
      </div>
      <div class="">
        <div class="font-semibold">
          {{ name }}
          <span v-if="!name" class="text-gray-300"> (no name) </span>
        </div>
        <div class="text-xs">
          {{ email }}
        </div>
      </div>
    </div>

    <button @click="logoutHandler" class="tooltiptext border bg-white rounded-md">Logout</button>
  </div>
</template>

<script>
import { useAuthStore } from '@/stores/auth.store'
import avatarPlaceholder from '@/assets/images/avatar-placeholder.png'

export default {
  setup() {
    return {
      authStore: useAuthStore(),
      images: {
        avatarPlaceholder,
      },
    }
  },
  computed: {
    name() {
      return this.authStore.user.name
    },
    email() {
      return this.authStore.user.email
    },
    avatar() {
      return this.authStore.user.avatar
    },
  },
  methods: {
    logoutHandler() {
      this.authStore.logout()
    },
  },
}
</script>

<style></style>
