<template lang="">
  <div class="flex justify-center items-center h-screen w-screen flex-col">
    <span class="text-5xl font-bold"> 404 </span>
    <span>Page Not Found!</span>
    <span class="mt-4">
      <router-link to="/">
        <i class="fa-duotone fa-arrow-left"></i>
        <span> Go back </span>
      </router-link>
    </span>
  </div>
</template>
<script>
export default {}
</script>
<style lang=""></style>
