<template>
  <router-view></router-view>
  <toast-wrapper />
  <modals-container />
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'
import ToastWrapper from './components/ToastWrapper.vue'
import { useAuthStore } from './stores/auth.store'
import { ModalsContainer } from 'vue-final-modal'

export default {
  components: { ToastWrapper, ModalsContainer },
  setup() {
    return {
      authStore: useAuthStore(),
    }
  },
  data() {
    return {}
  },
}
</script>

<style scoped></style>
