<template lang="">
  <form @submit="onSubmit" class="py-24 -mt-24 h-screen gap-2 flex items-center flex-col justify-center w-96 m-auto">
    <div class="text-3xl font-extrabold py-6">Login</div>
    <div class="w-full">
      <input
        v-model="formData.email"
        @blur="v$.formData.email.$touch()"
        type="text"
        placeholder="Email"
        class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
      <div v-for="error of v$.formData.email.$errors" :key="error.$uid" class="text-red text-sm">
        {{ error.$message }}
      </div>
      <div v-if="errors.email" class="text-red text-sm">
        {{ errors.email }}
      </div>
    </div>
    <div class="flex justify-end w-full">
      <router-link to="/auth/forgot-password">
        <span class="text-sm text-primary font-bold">forgot password?</span>
      </router-link>
    </div>
    <div class="w-full">
      <input
        v-model="formData.password"
        @blur="v$.formData.password.$touch()"
        type="password"
        placeholder="Password"
        class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
      <div v-for="error of v$.formData.password.$errors" :key="error.$uid" class="text-red text-sm">
        {{ error.$message }}
      </div>
      <div v-if="errors.password" class="text-red text-sm">
        {{ errors.password }}
      </div>
    </div>
    <div class="flex justify-end w-full">
      <router-link to="/auth/register">
        <span class="text-sm font-bold">Not have an account yet?</span>
        <span class="text-sm text-primary font-bold ml-1">Register</span>
      </router-link>
    </div>
    <button
      type="submit"
      :disabled="isLoading"
      class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none text-white font-bold active:scale-95"
      :class="{
        'bg-primary': !isLoading,
        'bg-primary-lighter': isLoading,
      }"
    >
      <div v-if="isLoading === false">Login</div>
      <div v-if="isLoading === true" class="flex justify-center gap-2">
        <div class="animate-spin flex justify-center items-center">
          <i class="fa-duotone fa-spinner-third"></i>
        </div>
        <div>Loading</div>
      </div>
    </button>
  </form>
</template>

<script>
import { useAuthStore } from '@/stores/auth.store'
import { isEmptyObject } from '@/utils/helpers'
import { notify } from 'notiwind'
import { useVuelidate } from '@vuelidate/core'
import { required, email, helpers, minLength, maxLength } from '@vuelidate/validators'

const authStore = useAuthStore()

export default {
  setup() {
    return { v$: useVuelidate() }
  },
  components: {},
  data() {
    return {
      isLoading: false,
      formData: {
        email: '',
        password: '',
      },
      errors: {},
    }
  },
  validations() {
    return {
      formData: {
        email: {
          required: helpers.withMessage('Email cannot be empty.', required),
          // though this is incorrect for check abc@abc.com1 as valid but is was right
          // https://stackoverflow.com/questions/9071279/number-in-the-top-level-domain
          email: helpers.withMessage('Email format is not valid.', email),

          // this is correct but no need cause the above turn out to be right
          // https://stackoverflow.com/a/201378/25119178
          // email: helpers.withMessage(
          //   'Email format is not valid.'
          //   helpers.regex(
          //     /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/
          //   )
          // ),
        },
        password: {
          required: helpers.withMessage('Password cannot be empty.', required),
          minLength: helpers.withMessage('Password must be at least 8 characters long. ', minLength(8)),
        },
      },
    }
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault()

      this.isLoading = true

      // console.log('Email:', this.formData.email)
      // console.log('Password:', this.formData.password)

      const isFormCorrect = await this.v$.$validate()
      if (!isFormCorrect) {
        this.isLoading = false
        return
      }

      const authError = await authStore.login(this.formData.email, this.formData.password)

      if (!authError) {
        notify(
          {
            group: 'app',
            type: 'success',
            title: 'Success',
            text: 'Login Success!',
          },
          4000
        )
        this.$router.push('/')
        return
      }

      const newErrors = {}
      if (authError.status === 401) {
        newErrors.password = 'Password is incorrect'
      } else if (authError.status === 404) {
        newErrors.email = 'Email not found'
      } else {
        notify(
          {
            group: 'app',
            type: 'error',
            title: 'Error',
            text: 'Something went wrong!',
          },
          4000
        )
      }
      this.errors = newErrors
      this.isLoading = false
    },
  },
}
</script>
