<template lang="">
  <form @submit="onSubmit" class="py-24 -mt-24 h-screen gap-4 flex items-center flex-col justify-center w-96 m-auto">
    <div class="text-3xl font-extrabold py-6">Register</div>
    <div class="w-full">
      <input
        v-model="formData.email"
        @blur="v$.formData.email.$touch()"
        @change="onEmailInputChange"
        type="text"
        placeholder="Email"
        class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
      <div v-for="error of v$.formData.email.$errors" :key="error.$uid" class="text-red text-sm">
        {{ error.$message }}
      </div>
      <div v-if="errors.email" class="text-red text-sm">
        {{ errors.email }}
      </div>
    </div>
    <div class="w-full">
      <input
        v-model="formData.password"
        @blur="v$.formData.password.$touch()"
        type="password"
        placeholder="Password"
        class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
      <div v-for="error of v$.formData.password.$errors" :key="error.$uid" class="text-red text-sm">
        {{ error.$message }}
      </div>
      <div v-if="errors.password" class="text-red text-sm">
        {{ errors.password }}
      </div>
    </div>
    <div class="w-full">
      <input
        v-model="formData.confirmPassword"
        @blur="v$.formData.confirmPassword.$touch()"
        type="password"
        placeholder="ConfirmPassword"
        class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent"
      />
      <div v-for="error of v$.formData.confirmPassword.$errors" :key="error.$uid" class="text-red text-sm">
        {{ error.$message }}
      </div>
      <div v-if="errors.confirmPassword" class="text-red text-sm">
        {{ errors.confirmPassword }}
      </div>
    </div>
    <div class="flex justify-end w-full">
      <router-link to="/auth/login">
        <span class="text-sm font-bold">Already have an account?</span>
        <span class="text-sm text-primary font-bold ml-1">Login</span>
      </router-link>
    </div>
    <button
      type="submit"
      :disabled="isLoading"
      class="border border-gray-300 p-4 w-full rounded-xl focus:outline-none text-white font-bold active:scale-95"
      :class="{
        'bg-primary': !isLoading,
        'bg-primary-lighter': isLoading,
      }"
    >
      <div v-if="isLoading === false">Register</div>
      <div v-if="isLoading === true" class="flex justify-center gap-2">
        <div class="animate-spin flex justify-center items-center">
          <i class="fa-duotone fa-spinner-third"></i>
        </div>
        <div>Loading</div>
      </div>
    </button>
  </form>
</template>

<script>
import { useAuthStore } from '@/stores/auth.store'
import { isEmptyObject } from '@/utils/helpers'
import { notify } from 'notiwind'
import { useVuelidate } from '@vuelidate/core'
import { required, email, helpers, minLength, maxLength, sameAs } from '@vuelidate/validators'

const authStore = useAuthStore()

export default {
  setup() {
    return { v$: useVuelidate() }
  },
  components: {},
  data() {
    return {
      isLoading: false,
      formData: {
        email: '',
        password: '',
        confirmPassword: '',
      },
      errors: {},
    }
  },
  validations() {
    return {
      formData: {
        email: {
          required: helpers.withMessage('Email cannot be empty.', required),
          email: helpers.withMessage('Email format is not valid.', email),
        },
        password: {
          required: helpers.withMessage('Password cannot be empty.', required),
          minLength: helpers.withMessage('Password must be at least 8 characters long.', minLength(8)),
        },
        confirmPassword: {
          required: helpers.withMessage('Confirm Password cannot be empty.', required),
          minLength: helpers.withMessage('Confirm Password must be at least 8 characters long.', minLength(8)),
          sameAs: helpers.withMessage('Confirm Password must match password.', sameAs(this.formData.password)),
        },
      },
    }
  },
  methods: {
    async onEmailInputChange() {
      if (await authStore.checkEmail(this.formData.email)) {
        this.errors.email = ''
      } else {
        this.errors.email = 'This email already have an account'
      }
    },
    async onSubmit(e) {
      e.preventDefault()

      this.isLoading = true

      // console.log('Email:', this.formData.email)
      // console.log('Password:', this.formData.password)

      const isFormCorrect = await this.v$.$validate()
      if (!isFormCorrect) {
        this.isLoading = false
        return
      }

      const authError = await authStore.register(this.formData.email, this.formData.password)

      if (!authError) {
        notify(
          {
            group: 'app',
            type: 'success',
            title: 'Success',
            text: 'Register Success!',
          },
          4000
        )
        this.$router.push('/')
        return
      }
      const newErrors = {}
      if (authError.status === 409) {
        newErrors.email = 'This email already have an account'
      } else {
        notify(
          {
            group: 'app',
            type: 'error',
            title: 'Error',
            text: 'Something went wrong!',
          },
          4000
        )
      }
      this.errors = newErrors
      this.isLoading = false
    },
  },
}
</script>
