<template lang="">
  <div class="flex justify-between border-b p-2 h-14 bg-white">
    <div class="font-bold text-3xl">User Manager</div>
    <div class="flex gap-2">
      <button @click="onDeleteClick()" class="px-4 py-1 rounded-md text-white bg-red active:scale-95">
        <i class="fa-regular fa-trash-can"></i>
      </button>
      <button @click="$emit('createClick')" class="px-4 py-1 text-white bg-primary rounded-md active:scale-95">
        <i class="fa-regular fa-add"></i>
        <span class="ml-2">Create</span>
      </button>
    </div>
  </div>
</template>
<script>
import { useUsersStore } from '@/stores/users.store'
import { notify } from 'notiwind'

export default {
  setup() {
    return {
      usersStore: useUsersStore(),
    }
  },
  emits: ['deleteClick', 'createClick'],
  components: {},
  methods: {
    onDeleteClick() {
      if (this.usersStore.selectedUsers.length === 0) {
        notify(
          {
            group: 'app',
            type: 'error',
            title: 'Error',
            text: 'Please select user(s) to delete!',
          },
          4000
        )
        return
      }
      this.$emit('deleteClick')
    },
  },
}
</script>
<style lang=""></style>
