<template lang="">
  <div class="flex justify-between">
    <div>Showing {{ from }} to {{ to }} of {{ usersStore.metadata.totalItems }} results</div>
    <div class="flex">
      <button
        v-for="page in pages"
        @click="onChangePage(page.page)"
        class="text-sm border-2 border-r-0 w-8 aspect-square flex justify-center items-center first:rounded-l-md last:rounded-r-md last:border-r-2"
        :class="{
          'border-r-2 scale-110 border-primary text-primary':
            !page.notHightLight && usersStore.pagination.page === page.page,
        }"
      >
        {{ page.title }}
      </button>
    </div>
  </div>
</template>
<script>
import { useUsersStore } from '@/stores/users.store'

export default {
  setup() {
    const usersStore = useUsersStore()

    usersStore.getUsers()

    return {
      usersStore,
    }
  },
  data() {
    const backAndForth = 3
    return {
      backAndForth,
    }
  },
  computed: {
    pages() {
      const pages = [
        {
          title: '<',
          page: Math.max(this.usersStore.pagination.page - 1, 0),
          notHightLight: true,
        },
        {
          title: 1,
          page: 1,
        },
      ]
      if (this.usersStore.pagination.page - this.backAndForth > 2) {
        pages.push({
          title: '...',
        })
      }
      for (
        let i = this.usersStore.pagination.page - this.backAndForth;
        i <= this.usersStore.pagination.page + this.backAndForth;
        i++
      ) {
        if (i < 2 || i > this.usersStore.metadata.totalPages - 1) continue
        pages.push({
          title: i,
          page: i,
        })
      }
      if (this.usersStore.pagination.page + this.backAndForth < this.usersStore.metadata.totalPages - 1) {
        pages.push({
          title: '...',
        })
      }
      if (this.usersStore.metadata.totalPages > 1)
        pages.push({
          title: this.usersStore.metadata.totalPages,
          page: this.usersStore.metadata.totalPages,
        })
      pages.push({
        title: '>',
        page: Math.min(this.usersStore.pagination.page + 1, this.usersStore.metadata.totalPages),
        notHightLight: true,
      })

      return pages
    },
    from() {
      return (this.usersStore.pagination.page - 1) * this.usersStore.pagination.perPage + 1
    },
    to() {
      return this.from + this.usersStore.usersCount - 1
    },
  },
  methods: {
    onChangePage(page) {
      if (!page) return
      this.usersStore.pagination = {
        ...this.usersStore.pagination,
        page,
      }
      // this.usersStore.getUsers()
    },
  },
}
</script>
<style lang=""></style>
