<template lang="">
  <div class="">
    <table class="min-w-full text-center rounded-b-md overflow-hidden relative font-light">
      <thead>
        <tr class="">
          <th></th>
          <th>
            <div class="p-1">
              <input
                :value="usersStore.query.filter.id"
                @change="onFilterInputChange('id', $event.target.value)"
                placeholder="e.g: 12345"
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
              />
            </div>
          </th>
          <th>
            <div class="p-1">
              <input
                :value="usersStore.query.filter.name"
                @change="onFilterInputChange('name', $event.target.value)"
                placeholder="e.g: Michael Bay"
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
              />
            </div>
          </th>
          <th>
            <div class="p-1">
              <input
                :value="usersStore.query.filter.email"
                @change="onFilterInputChange('email', $event.target.value)"
                placeholder="e.g: michael@email.com"
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
              />
            </div>
          </th>
          <th>
            <div class="p-1">
              <input
                :value="usersStore.query.filter.phoneNumber"
                @change="onFilterInputChange('phoneNumber', $event.target.value)"
                placeholder="e.g: 012300000"
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
              />
            </div>
          </th>
          <th>
            <div class="p-1">
              <input
                :value="usersStore.query.filter.address"
                @change="onFilterInputChange('address', $event.target.value)"
                placeholder="e.g: this street, that
              city"
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
              />
            </div>
          </th>
          <th></th>
        </tr>
        <tr class="bg-gray-300">
          <th class="rounded-tl-md overflow-hidden">
            <label class="p-1 text-green-500">
              <input
                type="checkbox"
                class="hidden peer"
                @click="toggleSelectAll()"
                :checked="usersStore.selectedUsers.length === usersStore.users.length"
              />
              <span class="peer-checked:hidden"><i class="fa-regular fa-square"></i></span>
              <span class="peer-checked:inline hidden"><i class="fa-regular fa-square-check"></i></span>
            </label>
          </th>
          <th @click="onFieldNameClick('id')" class="font-light">
            <span> User Id </span>
            <span v-if="usersStore.query.sortBy === 'id'">
              <span v-if="usersStore.query.order === 'asc'">
                <i class="fa-regular fa-arrow-down-short-wide"></i>
              </span>
              <span v-if="usersStore.query.order === 'desc'">
                <i class="fa-regular fa-arrow-down-wide-short"></i>
              </span>
            </span>
            <span v-if="usersStore.query.sortBy !== 'id'">
              <i class="fa-light fa-sort"></i>
            </span>
          </th>
          <th @click="onFieldNameClick('name')" class="font-light">
            <span> Name </span>

            <span v-if="usersStore.query.sortBy === 'name'">
              <span v-if="usersStore.query.order === 'asc'">
                <i class="fa-regular fa-arrow-down-short-wide"></i>
              </span>
              <span v-if="usersStore.query.order === 'desc'">
                <i class="fa-regular fa-arrow-down-wide-short"></i>
              </span>
            </span>
            <span v-if="usersStore.query.sortBy !== 'name'">
              <i class="fa-light fa-sort"></i>
            </span>
          </th>
          <th @click="onFieldNameClick('email')" class="font-light">
            <span> Email </span>

            <span v-if="usersStore.query.sortBy === 'email'">
              <span v-if="usersStore.query.order === 'asc'">
                <i class="fa-regular fa-arrow-down-short-wide"></i>
              </span>
              <span v-if="usersStore.query.order === 'desc'">
                <i class="fa-regular fa-arrow-down-wide-short"></i>
              </span>
            </span>
            <span v-if="usersStore.query.sortBy !== 'email'">
              <i class="fa-light fa-sort"></i>
            </span>
          </th>
          <th @click="onFieldNameClick('phoneNumber')" class="font-light">
            <span> Phone </span>

            <span v-if="usersStore.query.sortBy === 'phoneNumber'">
              <span v-if="usersStore.query.order === 'asc'">
                <i class="fa-regular fa-arrow-down-short-wide"></i>
              </span>
              <span v-if="usersStore.query.order === 'desc'">
                <i class="fa-regular fa-arrow-down-wide-short"></i>
              </span>
            </span>
            <span v-if="usersStore.query.sortBy !== 'phoneNumber'">
              <i class="fa-light fa-sort"></i>
            </span>
          </th>
          <th @click="onFieldNameClick('address')" class="font-light">
            <span> Address </span>

            <span v-if="usersStore.query.sortBy === 'address'">
              <span v-if="usersStore.query.order === 'asc'">
                <i class="fa-regular fa-arrow-down-short-wide"></i>
              </span>
              <span v-if="usersStore.query.order === 'desc'">
                <i class="fa-regular fa-arrow-down-wide-short"></i>
              </span>
            </span>
            <span v-if="usersStore.query.sortBy !== 'address'">
              <i class="fa-light fa-sort"></i>
            </span>
          </th>
          <th class="rounded-tr-md overflow-hidden"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="usersStore.users.length === 0">
          <td colspan="999">Không có dữ liệu</td>
        </tr>
        <tr v-for="user in usersStore.users" class="odd:bg-gray-100 even:bg-gray-200">
          <th>
            <label class="p-1 text-green-500">
              <input
                type="checkbox"
                class="hidden peer"
                @click="toggleSelect(user)"
                :checked="usersStore.selectedUsers.includes(user)"
              />
              <span class="peer-checked:hidden"><i class="fa-regular fa-square"></i></span>
              <span class="peer-checked:inline hidden"><i class="fa-regular fa-square-check"></i></span>
            </label>
          </th>
          <td>
            <div class="tooltip">
              {{ lodash.truncate(user.id ?? '---', { length: 15 }) }}
              <div class="tooltiptext bg-white text-nowrap border rounded-md">{{ user.id ?? '---' }}</div>
            </div>
          </td>
          <td>{{ user.name ?? '---' }}</td>
          <td>{{ user.email ?? '---' }}</td>
          <td>{{ user.phoneNumber ?? '---' }}</td>
          <td>{{ user.address ?? '---' }}</td>
          <td>
            <button class="px-2">
              <i @click="onViewUserDetail(user)" class="fa-regular fa-pen-to-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { useUsersStore } from '@/stores/users.store'
import lodash from 'lodash'
import UserDetailModal from './UserDetailModal.vue'
import { useModal } from 'vue-final-modal'

export default {
  setup() {
    const usersStore = useUsersStore()

    const userDetailModal = useModal({
      component: UserDetailModal,
      attrs: {
        onCancel() {
          console.log('onCancel')
          userDetailModal.close()
        },
      },
    })

    // usersStore.getUsers()

    return {
      usersStore,
      lodash,
      userDetailModal,
    }
  },
  methods: {
    onFieldNameClick(fieldName) {
      if (this.usersStore.query.sortBy !== fieldName) {
        this.usersStore.query = {
          ...this.usersStore.query,
          sortBy: fieldName,
          order: 'asc',
        }
      } else {
        if (this.usersStore.query.order === 'asc') {
          this.usersStore.query = {
            ...this.usersStore.query,
            order: 'desc',
          }
        } else if (this.usersStore.query.order === 'desc') {
          this.usersStore.query = {
            ...this.usersStore.query,
            sortBy: null,
            order: 'asc',
          }
        }
      }
      this.usersStore.pagination.page = 1
      // this.usersStore.getUsers()
    },
    onFilterInputChange(name, value) {
      this.usersStore.query = {
        ...this.usersStore.query,
        filter: {
          ...this.usersStore.query.filter,
          [name]: value,
        },
      }
      this.usersStore.pagination.page = 1
      // this.usersStore.getUsers()
    },
    toggleSelectAll() {
      this.usersStore.selectedUsers =
        this.usersStore.selectedUsers.length === this.usersStore.users.length ? [] : [...this.usersStore.users]
      // console.log(this.usersStore.selectedUsers)
    },
    toggleSelect(user) {
      // console.log(user)
      if (this.usersStore.selectedUsers.includes(user)) {
        this.usersStore.selectedUsers = this.usersStore.selectedUsers.filter((selectedUser) => selectedUser !== user)
      } else {
        this.usersStore.selectedUsers = [...this.usersStore.selectedUsers, user]
      }
      // console.log(this.usersStore.selectedUsers)
    },
    onViewUserDetail(user) {
      console.log('onViewUserDetail', user)

      this.usersStore.currentUser = user
      this.userDetailModal.open({
        user,
      })
    },
  },
}
</script>
<style lang=""></style>
