<template lang="">
  <vue-final-modal class="flex justify-center items-center">
    <form @submit="onSubmit" class="flex flex-col mx-4 bg-white border rounded-lg space-y-2 overflow-hidden">
      <div class="w-full bg-gray-300 p-2 font-bold">User Create</div>
      <div class="flex">
        <div class="w-32 aspect-square m-8">
          <img :src="images.avatarPlaceholder" alt="" class="w-full rounded-full border-4" />
        </div>
        <div class="p-4 flex flex-col gap-4">
          <div class="flex flex-col gap-8">
            <div class="flex gap-4">
              <div>
                <div class="mb-2">Name</div>
                <input
                  v-model="user.name"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
              <div>
                <div class="mb-2">Password</div>
                <input
                  v-model="user.password"
                  type="password"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
            </div>
            <div class="flex gap-4">
              <div>
                <div class="mb-2">Email</div>
                <input
                  v-model="user.email"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
              <div>
                <div class="mb-2">Phone</div>
                <input
                  v-model="user.phoneNumber"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
            </div>
            <div class="">
              <div class="mb-2">Address</div>
              <textarea
                v-model="user.address"
                name=""
                id=""
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
                rows="5 "
              ></textarea>
            </div>
          </div>
          <div class="flex gap-2">
            <button type="submit" class="text-sm font-semibold rounded-md flex-1 p-1 bg-green-600 text-white">
              Save
            </button>
            <button @click="$emit('cancel')" class="text-sm font-semibold rounded-md flex-1 p-1 border-2">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </vue-final-modal>
</template>
<script>
import avatarPlaceholder from '@/assets/images/avatar-placeholder.png'
import { useUsersStore } from '@/stores/users.store'
import { VueFinalModal } from 'vue-final-modal'
import { notify } from 'notiwind'

export default {
  setup() {
    return {
      usersStore: useUsersStore(),
      images: {
        avatarPlaceholder,
      },
    }
  },
  props: {},
  components: {
    VueFinalModal,
  },
  data() {
    return {
      user: {
        name: '',
        password: '',
        email: '',
        phoneNumber: '',
        address: '',
      },
    }
  },
  emits: ['cancel'],
  methods: {
    async onSubmit(e) {
      e.preventDefault()
      console.log('onSubmit', this.user)

      await this.usersStore.createUser(this.user)
      await this.usersStore.getUsers()
      notify(
        {
          group: 'app',
          type: 'success',
          title: 'Success',
          text: 'Create user Success!',
        },
        4000
      )
      this.$emit('cancel')
    },
  },
}
</script>
<style lang=""></style>
