<template lang="">
  <vue-final-modal class="flex justify-center items-center">
    <form @submit="onSubmit" class="flex flex-col mx-4 bg-white border rounded-lg space-y-2 overflow-hidden">
      <div class="w-full bg-gray-300 p-2 font-bold">User Detail</div>
      <div class="flex">
        <div class="w-32 aspect-square m-8">
          <img :src="images.avatarPlaceholder" alt="" class="w-full rounded-full border-4" />
        </div>
        <div class="p-4 flex flex-col gap-4">
          <div class="flex flex-col gap-8">
            <div class="flex gap-4">
              <div>
                <div class="mb-2">User Id</div>
                <input
                  v-model="user.id"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                  disabled
                />
              </div>
              <div>
                <div class="mb-2">Name</div>
                <input
                  v-model="user.name"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
            </div>
            <div class="flex gap-4">
              <div>
                <div class="mb-2">Email</div>
                <input
                  v-model="user.email"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
              <div>
                <div class="mb-2">Phone</div>
                <input
                  v-model="user.phoneNumber"
                  type="text"
                  class="px-1 font-medium border border-gray-300 rounded-md w-64"
                />
              </div>
            </div>
            <div class="">
              <div class="mb-2">Address</div>
              <textarea
                v-model="user.address"
                name=""
                id=""
                class="px-1 font-medium w-full border border-gray-300 rounded-md"
                rows="5 "
              ></textarea>
            </div>
          </div>
          <div class="flex gap-2">
            <button
              @click="onDelete()"
              type="button"
              class="text-sm font-semibold rounded-md flex-1 p-1 bg-red text-white"
            >
              Delete
            </button>
            <button type="submit" class="text-sm font-semibold rounded-md flex-1 p-1 bg-green-600 text-white">
              Save
            </button>
            <button class="text-sm font-semibold rounded-md flex-1 p-1 border-2">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </vue-final-modal>
</template>
<script>
import avatarPlaceholder from '@/assets/images/avatar-placeholder.png'
import ConfirmModal from '@/components/Modals/ConfirmModal.vue'
import { useUsersStore } from '@/stores/users.store'
import { useModal, VueFinalModal } from 'vue-final-modal'
import { notify } from 'notiwind'

export default {
  setup(_, { emit }) {
    const usersStore = useUsersStore()

    const user = { ...usersStore.currentUser } || {}

    const usersDeleteModal = useModal({
      component: ConfirmModal,
      attrs: {
        title: 'Delete User',
        content: 'Are you sure you want to delete this user?',
        confirmText: 'Delete',
        async onConfirm() {
          // TODO:
          console.log('onConfirm')
          const error = await usersStore.deleteUser(user.id)
          console.log(error)
          usersStore.getUsers()
          usersDeleteModal.close()

          emit('cancel')
          if (error) {
            notify(
              {
                group: 'app',
                type: 'error',
                title: 'Error',
                text: 'Delete user failed!',
              },
              4000
            )
            return
          } else {
            notify(
              {
                group: 'app',
                type: 'success',
                title: 'Success',
                text: 'Delete user Success!',
              },
              4000
            )
          }
          console.log("here")
        },
        onCancel() {
          console.log('onCancel')
          usersDeleteModal.close()
        },
      },
    })
    return {
      user,
      usersStore: useUsersStore(),
      images: {
        avatarPlaceholder,
      },
      usersDeleteModal,
    }
  },
  props: {},
  data() {
    return {}
  },
  components: {
    VueFinalModal,
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault()
      console.log('onSubmit', this.user)

      await this.usersStore.updateUser(this.user.id, this.user)
      await this.usersStore.getUsers()
      notify(
        {
          group: 'app',
          type: 'success',
          title: 'Success',
          text: 'Update user Success!',
        },
        4000
      )
      this.$emit('cancel')
    },
    async onDelete() {
      // await this.usersStore.deleteUser(this.user.id)
      // await this.usersStore.getUsers()
      this.usersDeleteModal.open()
      // this.$emit('cancel')
    },
  },
}
</script>
<style lang=""></style>
