<template lang="">
  <div>
    <div class="fixed top-0 left-0 w-full pl-48 z-10">
      <Header @delete-click="usersDeleteModal.open()" @create-click="userCreateModal.open()"></Header>
    </div>
    <div class="min-h-screen pt-16 p-4 flex flex-col justify-between gap-4 z-0">
      <Table></Table>
      <Pagination></Pagination>
    </div>
  </div>
</template>
<script>
import Header from './Header.vue'
import Table from './Table.vue'
import Pagination from './Pagination.vue'
import { useUsersStore } from '@/stores/users.store'
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useModal } from 'vue-final-modal'
import Modal from '@/components/Modals/Modal.vue'
import UserDetailModal from './UserDetailModal.vue'
import ConfirmModal from '@/components/Modals/ConfirmModal.vue'
import UserCreateModal from './UserCreateModal.vue'
import { notify } from 'notiwind'

export default {
  setup() {
    const usersStore = useUsersStore()

    const usersDeleteModal = useModal({
      component: ConfirmModal,
      attrs: {
        title: 'Delete User',
        content: 'Are you sure you want to delete all selected user(s)?',
        confirmText: 'Delete',
        async onConfirm() {
          // TODO:
          console.log('onConfirm')
          await usersStore.deleteSelectedUsers()
          usersStore.getUsers()
          usersDeleteModal.close()
          notify(
            {
              group: 'app',
              type: 'success',
              title: 'Success',
              text: 'Create user(s) Success!',
            },
            4000
          )
        },
        onCancel() {
          console.log('onCancel')
          usersDeleteModal.close()
        },
      },
    })
    const userCreateModal = useModal({
      component: UserCreateModal,
      attrs: {
        onCancel() {
          console.log('onCancel')
          userCreateModal.close()
        },
      },
    })

    return {
      router: useRouter(),
      usersStore: useUsersStore(),
      usersDeleteModal,
      userCreateModal,
    }
  },
  components: {
    Header,
    Table,
    Pagination,
  },
  async created() {
    // this.userDetailModal.open()

    this.URLToStore()

    this.usersStore.getUsers()
  },
  data() {
    return {}
  },
  computed: {
    pagination() {
      return this.usersStore.pagination
    },
    query() {
      return this.usersStore.query
    },
  },
  watch: {
    query() {
      console.log('query changed')
      this.storeToURL()
      // $route change will trigger getUsers
      // this.usersStore.getUsers()
    },
    pagination() {
      console.log('pagination changed')
      this.storeToURL()
      // $route change will trigger getUsers
      // this.usersStore.getUsers()
    },
    $route(to, from) {
      console.log('route changed')
      this.URLToStore()
      this.usersStore.getUsers()
    },
  },
  methods: {
    storeToURL() {
      console.log('storeToURL')
      const query = {
        sortBy: this.query.sortBy,
        order: this.query.order,
        page: this.pagination.page,
        perPage: this.pagination.perPage,
        ...this.query.filter,
      }
      this.router.push({ query })
    },
    URLToStore() {
      console.log('URLToStore')
      // console.log('-------', this.router.currentRoute)
      const query = this.router.currentRoute.value.query

      this.usersStore.pagination = {
        ...this.usersStore.pagination,
        page: query.page ? parseInt(query.page) : 1,
        perPage: query.perPage ? parseInt(query.perPage) : 17,
      }

      this.usersStore.query = {
        sortBy: query.sortBy ?? null,
        order: query.order ?? 'asc',
        filter: {
          id: query.id ?? '',
          name: query.name ?? '',
          email: query.email ?? '',
          phoneNumber: query.phoneNumber ?? '',
          address: query.address ?? '',
        },
      }
    },
  },
}
</script>
<style lang=""></style>
